.App {
  text-align: center;
}

.anagrampage{
  width: 80vw;
  display: grid;
  gap: 2rem;
  margin: 5rem auto;
  max-width: 1800px;
}

.container {
  width: 40vw;
  margin: 0 auto;
  max-width: var(--max-width);
  text-align: center;
  margin-top: 5rem;
}
