.anagrampage {
  width: 80vw;
  display: grid;
  gap: 2rem;
  margin: 5rem auto;
  max-width: 1800px;
}

.container {
  width: 40vw;
  margin: 0 auto;
  max-width: var(--max-width);
  text-align: center;
  margin-top: 5rem;
}

body{
  height: 100%;
  margin: 0;
  background-color: #f2e9e4;

}