/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: #222;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: grey;
}

.anagrampage{
  width: 30vw;
  display: grid;
  gap: 2rem;
  margin: 5rem auto;
}

/* .container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  text-align: center;
  margin-top: 5rem;
} */